<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="section-title  no-margin-top">About us</h2>

            <p>Chengdu batcat Science and Technology Co., Ltd. was established in 2015, focused on developing
                large-scale strategy game for global market. Game development team have long-term work experience with
                overseas users, have in-depth understanding on abroad similar products, knowing well the overseas users
                use and pay habits, can build a comprehensive game develop platform which based on target market users
                feedbacks. And also it has extensive experience with game development, dedicated to creating world-class
                level game.</p>
        </div>
        <div class="col-md-4">
            <section>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h4 class="section-title no-margin-top">Contact us</h4>
                        <address>
                            <strong>Customer Service Support</strong><br/>
                            <p class="em-primary">Email: support@batcatstudio.com</p>
                            <strong>Business Cooperation</strong><br/>
                            <p class="em-primary">Email: business@batcatstudio.com</p>
                        </address>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div> <!-- container -->