<div class="container margin-bottom">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-title">Game Features</h2>
        </div>
        <div class="col-md-12 animated fadeInLeft animation-delay-8">
            <p>The first MOBA SLG , one on one alliance fight !</p>

            <p>Build your own castle and alliance,help each others,trade with each others,and fight with each others !
                All for your kingdom !</p>

            <p>
                √ Gather resources , to build your own individual city<br/>
                √ Various kinds of army force<br/>
                √ Train your dragons , to lead the epic corps<br/>
                √ Explore the mysterious lands , acquire the unique equipments<br/>
                √ Make friends with each others ,conquer the whole land together！<br/>
            </p>

            <p>Just join DRAGONFALL !</p>
        </div>
    </div>
</div> <!-- container -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-title">Screen-Shot</h2>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="img-caption-ar wow fadeInLeft">
                <img src="/img/df_images/screen_shot_1.png" class="img-responsive" alt="Image">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="img-caption-ar wow fadeInLeft">
                <img src="/img/df_images/screen_shot_2.png" class="img-responsive" alt="Image">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="img-caption-ar wow fadeInLeft">
                <img src="/img/df_images/screen_shot_3.png" class="img-responsive" alt="Image">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="img-caption-ar wow fadeInLeft">
                <img src="/img/df_images/screen_shot_4.png" class="img-responsive" alt="Image">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="img-caption-ar wow fadeInLeft">
                <img src="/img/df_images/screen_shot_5.png" class="img-responsive" alt="Image">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="img-caption-ar wow fadeInLeft">
                <img src="/img/df_images/screen_shot_6.png" class="img-responsive" alt="Image">
            </div>
        </div>
    </div>
</div>